<section class="container w-full bg-body">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <h1 class="w-100 text-center mt-4 h1">Bienvenido</h1>
    <div class="w-75 text-center">
      <p>Esta aplicacion web nos permitira poner a prueba el envio de correos electronicos utilizando
        el framework de Java Spring boot en su version 3.
      </p>
      <p>Esta aplicacion web consta de varios ejemplos desde el mas sencillo hasta algunos mas complejos
        utilizando plantillas de FreeMaker.
      </p>
    </div>

  </div>

</section>

